rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // users collections and all inner backup structures
    match /users/{phone} {
      allow read, write: if true;
      
      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }

    // whatsapp_pro_users collections and all inner structures
    match /whatsapp_pro_users/{userId} {
      allow read, write: if true;

      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }

    // Secure write-only audit logs collection, read-only for higher auditor role
    match /admin_audit_logs/{logId} {
      allow create, write: if true;
      allow read: if false; // no reading by anyone
    }
  }
}
